# Configuración para Desarrollo Local
DEBUG=True
SECRET_KEY=django-insecure-3_itwwv%q1!p(!7fyp#z%jsnbak%n9m8bsjrhd@mur9a0l=^q^
DJANGO_SETTINGS_MODULE=LoginCRUD.settings.development

# Configuración para Producción en Render (con SQLite)
# DEBUG=False
# SECRET_KEY=tu-clave-secreta-super-segura-para-produccion
# DJANGO_SETTINGS_MODULE=LoginCRUD.settings.production

# Usuarios por defecto (opcional)
# ADMIN_USERNAME=admin
# ADMIN_PASSWORD=tu_admin_password_seguro
# ADMIN_EMAIL=admin@tuempresa.com
# OPERARIO_USERNAME=operario_demo
# OPERARIO_PASSWORD=tu_operario_password
# OPERARIO_EMAIL=operario@tuempresa.com

# Render specific (se configura automáticamente)
# RENDER_EXTERNAL_HOSTNAME=tu-app-name.onrender.com

# Configuración de Keycloak
KEYCLOAK_URL=http://localhost:8080
KC_REALM=textil-realm
KC_CLIENT_ID=textil-app-a
KC_CLIENT_SECRET=tu-client-secret-aqui